html, body {
    margin: 0px;
}
.highlight {
    background-color: #fff780;
}
input[type=text],input[type=number],input[type=search],select {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 28px;
}
@media all and (max-width: 480px) {
    input[type=text],input[type=number],input[type=search] {
        /* Set a font-size of at least 16px to prevent auto-zooming in iOS. */
        font-size: 16px;
    }
}
/* Header */
#header {
    /*height: 50px;*/
}
.navbar-inner {
    padding: 0px 10px;
}
.title {
    padding: 0px;
    margin: 7px 5px 0px 0px;;
    font-size: 18px;
    color: #999;
    float: left;
    /*text-align: center;*/
    /*
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    font-weight: bold;
    font-size: 22px;
    */
}
#header .navbar {
    margin-bottom: 0px;
}
.view-nav-btn {
    display: none;
}
#show-map-btn, #show-list-btn {
    float: right;
}
#back-btn {
    float: right;
}

/* Search/list sidebar */
#search-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#search-list.twocol-layout {
    float: left;
    width: 270px;
}
/* Search form */
.search-form {
    position: relative;
    padding: 3px;
}
.search-form form {
    margin-bottom: 0px;
}
/* Main search query input field */
.search-form .input-append {
    position: relative;
    width: 100%;
    height: 30px;
}
.search-form .input-append .search-query {
    padding-left: 25px;
    left: 0px;
    right: 30px;
    width: auto;
    position: absolute;
}
.search-form .input-append .btn {
    height: 28px;
    padding: 4px 8px;
    position: absolute;
    right: 0px;
    width: 31px;
}
.search-form .icon-search {
    position: absolute;
    top: 6px;
    left: 7px;
    opacity: 0.4;
    z-index:100;
}
/* Additional search options */
.extra-search-ops {
    display: none;
    padding: 5px;
}
/*
.extra-search-ops label {
    width: 50px;
    text-align: right;
    margin-right: 5px;
    height: 28px;
}
.extra-search-ops input, .extra-search-ops select, .extra-search-ops .input {
    display: inline;
}
*/
/* Override horizontal form settings from bootstrap.css */
.form-horizontal .control-label {
    width: 50px;
}
.form-horizontal .controls {
    margin-left: 60px;
}
.form-horizontal .control-group {
    margin-bottom: 5px;
}

/* Map */
#map-info-panel > div {
    padding: 5px;
    background-color: #fcf8e3;
}

/* Playground list */
.list-item-buttons {
    opacity: 0.3;
    position: absolute;
    right: 0px;
    bottom: 3px;
}
#playground-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
ul.playground-list {
    list-style: none;
    margin: 0px;
}
.playground-list li {
    border-top: 1px solid #ccc;
    cursor: pointer;
    padding: 0px 10px;
}
/* Map panel */
#map-canvas img {
    max-width: none;
}
/* Details panel */
.playground-details {
    padding: 0px 10px;
    /*
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-left: 1px solid #ccc;
    */
}
ul.playground-images {
    list-style: none;
    margin: 0px;
    white-space: nowrap;
    overflow:  auto;
    -webkit-overflow-scrolling: touch;
}
.playground-images li {
    display: inline-block;
    vertical-align: top;
}
.playground-images img {
    height: 150px;
}
.playground-images .thumbnail {
    width: 200px;
    white-space: normal;
}