<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Raleigh Playgrounds</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!--link href="css/bootstrap-responsive.css" rel="stylesheet"-->
        <link href="css/bootstrap-modal.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css" />
        <link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" >
    </head>

    <body>
        <div id="header"></div>
        <div id="content"></div>
        <div id="get-location-modal" class="modal hide" tabindex="-1" role="dialog"></div>

        <!-- Templates -->
        <script type="text/template" id="tpl-header">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div id="back-btn" class="btn btn-inverse view-nav-btn">
                        <i class="icon-chevron-left icon-white"></i>
                        Back
                    </div>
                    <div id="header-title" class="title">
                        <a href="/"><img src="img/playground-icon-white-25x25.png" border="0"/></a>
                        Raleigh Playgrounds
                    </div>
                    <!--
                    <ul class="nav">
                        <li id="menu-item-map"><a href="/#">Search</a></li>
                        <li id="menu-item-new"><a href="/#playgrounds/new">Add playground</li>
                    </ul>
                    -->
                    <div id="show-list-btn" class="btn btn-inverse view-nav-btn">
                        <i class="icon-th-list icon-white"></i>
                        List
                    </div>
                    <div id="show-map-btn" class="btn btn-inverse view-nav-btn">
                        <i class="icon-map-marker icon-white"></i>
                        Map
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-search-form">
            <form id="search-form" class="form-search form-horizontal">

                <div class="search-field-container">
                    <input class="search-field-input" id="input_q" type="text" name="search" placeholder="Find playgrounds...">
                    <button class="btn search-field-btn" id="search-options-btn" type="button" title="Search options"><i id="search-options-btn-icon" class="icon-chevron-down"></i></button>
                    <div class="icon-search"></div>
                </div>

                <div id="advanced-search-ops" class="extra-search-ops">
                    <div class="control-group">
                        <label class="control-label">Within</label>
                        <div class="controls">
                            <select id="input_radius" style="width:auto;">
                                <option value="">any distance</option>
                                <option value="5">5 miles</option>
                                <option value="10">10 miles</option>
                                <option value="25">25 miles</option>
                                <option value="50">50 miles</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">of</label>
                        <div class="controls" style="padding-top: 5px;">
                            <a id="set-location-link" href="#">where?</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input id="search-btn" type="button" class="btn btn-primary" value="Search">
                            <input id="show-all-btn" type="button" class="btn" value="Show all">
                        </div>
                    </div>
                </div>

                <div id="search-loading-anim" style="display: none;">
                    <img src="img/loading-bar.gif"/>
                </div>
            </form>
        </script>

        <script type="text/template" id="tpl-get-location-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>Set your location</h3>
            </div>

            <div class="modal-body">
                <a id="detect-location-link" href="#">Detect your location automatically</a>
                <br/><br/>
                or use the following address:
                <br/>

                <form id="set-location-address">
                    <input id="input_location_address" type="text" name="address">
                    <input type="submit" class="btn" value="Set address">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </script>

        <script type="text/template" id="tpl-playground-list-item">
            <div class="media" style="position: relative;">
                <img class="media-object pull-left" src="<%= _.first(images).url %>" style="width: 50px; height: 50px;">
                <div class="media-body">
                   <strong><%= name %></strong><br>
                    <%= address.replace(/,.*/g, '') %>
                    <% if (meta && meta.distance > 0) { %>
                        <br/>
                        <i><%= parseFloat(meta.distance).toFixed(1) %> miles</i>
                    <% } %>
                    <div class="list-item-buttons">
                        <a class="view-details-btn" href="#playground/<%= id %>" title="View details"><i class="icon-file"></i></a>
                        <a class="view-on-map-btn" href="#" title="View on map"><i class="icon-map-marker"></i></a>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-playground-info-popup">
            <div class="media">
                <img class="media-object pull-left" src="<%= _.first(images).url %>" style="width: 50px; height: 50px;">
                <div class="media-body">
                    <strong><%= name %></strong><br>
                    <%= address.replace(/,.*/g, '') %>
                    <% if (meta && meta.distance > 0) { %>
                        <br/>
                        <i><%= parseFloat(meta.distance).toFixed(1) %> miles</i>
                    <% } %>
                    <div style="float: right; display: inline-block;"><a href='#playground/<%= id %>'>Details</a></div>
                </div>
            </div>
        </script>
        <script type="text/template" id="tpl-playground-details">
            <h3><%= name %></h3>
            <p><%= address %></p>
            <ul class="playground-images"></ul>
        </script>

        <script type="text/template" id="tpl-playground-image">
            <div class="thumbnail">
                <img src="<%= url %>"/>
                <div><%= title %></div>
                <%if (credit) { %>
                    <small class="muted">Credit: <%= credit %></small>
                <% } %>
            </div>
        </script>

        <!-- JavaScript -->
        <script src="js/lib/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/backbone.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/jquery.scrollTo.min.js"></script>
        <script src="js/lib/bootstrap-modalmanager.js"></script>
        <script src="js/lib/bootstrap-modal.js"></script>

        <script src="initial-data.js.php"></script>
        <script src="js/app.js"></script>

    </body>
</html>